<li>
<%= gist.escape("title") %>
<% if (gist.get("favorite")) { %>
  <% var btn_text = "unfavorite"; %>
<% }else { %>
  <% var btn_text = "favorite"; %>
<% } %>
  <button
      class= <%= btn_text %>
      data-id="<%= gist.id %>" >
      <%= btn_text %>
  </button>
  <a href="#edit/<%= gist.id %>">Edit gist</a>
</li>